body {
    background-color: #001935;
    margin: 0;
    padding: 0;
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid rgba(255, 255, 255, .13);
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin-right: 322px;
}

.header-left .logo {
    max-height: 100%;
    margin-right: 10px;
}

.header-left .input {
    height: 34px;
    width: 480px;
    background-color: rgba(255, 255, 255, .25);
    display: flex;
    align-items: center;
    border-radius: 3px;
    transition: background-color .25s ease;
}

.header-left .input:focus-within {
    background-color: #fff;
    transition: .25s ease;
}


.header-left .input .search-icon {
    width: 18px;
    height: 18px;
    opacity: .65;
    margin-left: 10px;
    margin-right: 10px;
}

.input:focus-within .search-icon {
    opacity: 1;
}

.input:focus-within .search-icon svg{
    fill: #000;
}

.header-left .input input {
    margin: 0;
    padding: 0;
    width: 438px;
    height: 30px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.header-left .input input::placeholder {
    color: rgba(255, 255, 255, .65);
    font-weight: 500;
}

.header-right {
    height: 100%;
    margin-right: 44px;
}

.header-right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 1.5px;
}

.header-right ul li {
    margin-right: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: .65;
}

.header-right ul li:hover {
    cursor: pointer;
}

.header-right ul li:nth-child(1), .header-right ul li:last-of-type {
    opacity: 1;
}

.header-right ul li:last-of-type span {
    background-color: #00b8ff;
    display: grid;
    place-items: center;
    width: 45px;
    height: 32px;
    border-radius: 3px;
}

.header-right ul li:last-of-type svg {
    fill: #000;
}

header svg {
    fill: #fff;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.content {
    display: grid;
    grid-template-columns: 625px 320px;
    gap: 19px;
}

.posts {
    background-color: lightgreen;

    display: flex;
    justify-content: flex-end;
}

.posts article {
    background-color: lightblue;
    max-width: 540px;
    border-radius: 3px;
}

.posts article header {
    height: 51px;
}

.posts article header ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
}

.posts article header ul li {
    margin-left: 10px;
    margin-right: 10px;
}

.posts article header ul li .title {
    display: flex;
    font-size: 14px;
    font-weight: bold;
}

.posts article header ul li .title > * {
    margin-left: 10px;
}


.posts article header ul li .title p {
    margin-top: 0;
    margin-bottom: 0;
}

.posts article header ul li .title p:hover {
    cursor: pointer;
}

.posts article header ul li .title a {
    text-decoration: none;
    color: #00b8ff;
}

.posts article header ul li .title a:hover {
    text-decoration: underline;
}

.posts article header ul li .post-menu-icon {
    width: 18px;
    height: 10px;
    opacity: .65;
}

.posts article header ul li .post-menu-icon:hover {
    cursor: pointer;
}

.posts article header ul li .post-menu-icon svg {
    fill: #000;
}

.posts article figure {
    margin: 0;
    padding: 0;
}

.posts article figure img {
    width: 100%;
}

.posts article .caption p {
    margin: 15px;
    font-weight: 500;
}

.posts article .hashtags .category {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

.posts article .hashtags .category .category-icon {
    width: 14px;
    height: 14px;
}

.posts article .hashtags .category .category-icon svg {
    fill : #00cf35;
}

.posts article .hashtags .category p {
    color : #00cf35;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    margin-left: 5px;
}

.posts article .hashtags .category p:hover {
    cursor: pointer;
}

.side-bar {
    background-color: lightcoral;
    height: 100vh;
}