body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}
body > header {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 53px;
    border-bottom: 1px solid #dbdbdb;
    position: sticky;
    padding: 0;
    top: 0;
    width: 100%;
}
body > header .bum{
    height: 54px;
    align-items: center;
    display: flex;
    width: 100%;
    width: 935px;
    padding: 0 20px;
}
.header-izq{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
    width: 360px;
    margin: 0;
}
.header-izq:hover{
    cursor: pointer;
}
.header-izq .logo{
    margin-top: 7px;
    display: flex;
    height: 29px;
    width: 103px;
}
.header-cen{
    height: 26px;
    width: 213px;
    align-items: center;
    display: flex;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}
.header-cen:hover{
    cursor: text;
}
.header-cen .input{
    display: flex;
    align-items: center;
    height: 20px;
    width: 215px;
    justify-content:center;
}
.header-cen .input input {
    width: 38.3px;
    background: transparent;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 320;
    padding: 3px 0px 3px 0px;
    border: 0px;
    text-align: center;
    opacity: 0.9;
    margin-right: 11px;
}
.ip{
    background-image: url(https://image.flaticon.com/icons/png/512/116/116836.png);
    background-size: contain;
    background-position: relative;
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
    opacity: 0.7;
    margin-right:6px;
}
.header-der{
    width: 360px;
    height: 30px;
    display: flex;
    position: relative;
    left: 135.34px;
}
.header-der .botones{
    height: 30px;
    width: 224.66px;
    background-color: white;
    display: flex;
    margin-left: 24px;
}
.header-der .uno{
    border: 0px;
    border-radius: 4px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    height: 30px;
    width: 102.19px;
    background-color: #0095f6;
    margin-left: 15px;
}
.header-der .uno input{
    text-align-last: center;
}
.uno:hover{
    cursor: pointer;
}
.header-der .dos{
    border: 0px;
    padding: 0px;
    border-radius: 4px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color: #0095f6;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    height: 30px;
    background-color: white;
    width: 69.469px;
    margin-left: 15px;
}
.header-der .dos input{
    width: 102.19px;
}
.dos:hover{
    cursor: pointer;
}
.cuerpo{
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: grid;
}
.cont{
    height: auto;
    width: 935px;
    padding: 30px 20px 0px 20px;
    margin-bottom: 30px;
}
.cont1{
    display: flex;
    height: 160px;
    width: 935px;
    margin-bottom: 44px;
    align-items: center;
    justify-content: center;
}
.fotito{
    align-items: top;
    display: flex;
    justify-content: center;
    width: 291.672px;
    height: 160px;
    margin-right: 30px;
}
.imagen{
    width: 150px;
    height: 150px;
    border: 1px solid rgba(0,0,0,0.0975);
    border-radius: 50%;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
}
.Presentacion{
    width: 613.328px;
    height: 160px;
}
.usuario{
    display: flex;
    width: 613.328px;
    height: 30px;
    margin-bottom: 20px;
    align-items: center;
}
.usuario :first-child{
    width: 202.109px;
    height: 32px;
    font-weight: 300;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color: #262626;
    background: transparent;
    font-size: 28px;
    margin: -5px 0 -6px;
    border: 0px;
    line-height: 32px;
}
.tres{
    border: 0px;
    border-radius: 4px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    height: 30px;
    background-color: #0095f6;
    width: 60.516px;
    margin-left: 20px;
}
.tres:hover{
    cursor: pointer;
}
.estado{
    display: flex;
    height: 18px;
    width: 100%;
    margin-bottom: 20px;
    list-style: none;
}
.hum{
    display: flex;
    width: auto;
    height: 18px;
    margin-right: 40px;
    align-items: center;
}
.hum :hover{
    cursor: pointer;
}
.caja{
    text-decoration: none;
    height: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    align-items: center;
}
.caja :first-child{
    font-weight: 600;
}
.titulo{
    height: 21px;
    width: auto;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.descripcion :first-child{
    width: auto;
    height: auto;
}
.cont2{
    border-top: 1px solid #dbdbdb;
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 1px;
    text-align: center;
}
.opc{
    width: auto;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.opc :hover{
    cursor: pointer;
}
.pt1{
    margin-right: 60px;
    border-top: 1px solid #262626;
    color: rgba(var(--i1d,38,38,38),1);
    margin-top: -1px;
}
.pt2{
    color: #8e8e8e;
}
.log{
    height: 12px;
    width: 12px;
}
.tx{
    margin-left: 6px;
}
.cont3{
    width: 935px;
    height: 1256px;
}
.fila{
    height: 293px;
    width: 935px;
    margin-bottom: 28px;
}
.fila1{
    height: 293px;
    width: 935px;
    display: flex;
}
.cubito{
    width: 293px;
    height: 293px;
    margin-right: 28px;
}
.cubito:hover{
    cursor: pointer;
}
.final{
    margin-right: 0px;
}
.pie{
    padding: 0px 20px 0px 20px;
    height: 122px;
    align-items: center;
    justify-content: center;
    display: grid;
}
.pie1{
    padding: 38px 0px;
    margin: auto;
    height: 46px;
    width: 1011.990px;
    align-items: center;
    justify-self: center;
}
.list{
    margin-bottom: 7px;
    margin-right: 16px;
    font-size: 12px;
}
.abajo{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color: rgba(var(--fe0,0,55,107),1);
    font-weight: 600;
}
.list:hover{
    cursor: pointer;
}
ul{
    list-style: none;
    display: flex;
    height: 25px;
    padding: 0px;
    margin-bottom: 3px;
    margin-top: 0px;
}
.facebook{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #8e8e8e;
    font-weight: 600;
}