body{
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    height: 54px;
    align-items: center;
    margin: 0;
}
.header-izquierda{
display: flex;
margin-left: 187px;
padding: 0;

}
.header-izquierda .logo{
    display: flex;
    padding: 0;
    height: 29px;
    width: 360px;
    margin-top: 7px;

}
.header-centro{
    border: 2px solid #dfe1e5;
    height: 28px;
    width: 215px;
    align-items: center;
    border-radius: 3px;
}
.header-centro .panel{
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    
}
.header-centro .search svg{
    width: 10px;
    height: 10px;
    margin-right: 6px;

}
.header-centro input{
    display: flex;
    border: none;
    height: 18px;
    width: 44px;
    font: inherit;
    font-size: 16px;
    opacity: .6;}
}
.header-derecha .lista{
    list-style: none;
    display: flex;
    margin-right: 180px;
}
.header-derecha ul .boton{
margin: 7px;
background-color: aqua;
font-style: #ffffff;
}
