body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    height: 54px;
    border-bottom: 1px solid #dfe1e5;

}
.container-header{
    width: 935px;
    height: 54px;
    padding: 0 20px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
header .container-header .header-izquierda{
    height: 36px;
    width: 360px;
}
.container-header .header-izquierda .logo{
    display: flex;
    margin: 7px;
    padding: 0;
    height: 29px;
    width: 103px;

}
.container-header .header-centro{
    display: inline;
    height: 28px;
    width: 215px;
    border: 1px solid #dfe1e5;
    background-color: #fafafa;
    border-radius: 4px;
}
.container-header .header-centro .buscar{
    height: 14px;
    width: 59px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: baseline;
    margin-top: 4px;
}
.container-header .header-centro .search-icon{
margin-right: 6px;
display: flex;
opacity: .3;
}

.container-header .header-centro input{
    border: none;
    height: 14px;
    width: 41px;
    font-size: 14px;
    color: #8e8e8e;
    background-color: #fafafa;

}
.container-header .header-derecha{
    width: 360px;
    height: 30px;
    align-content: center;
    display: flex;

}
.container-header .header-derecha .botones{
    width: 200px;
    height: 30px;
    margin-left: 171px;
}
.container-header .header-derecha .botones .sesion{
    height: 30px;
    width: 102px;
    font-size: 14px;
    background-color: #0095f6;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}
.container-header .header-derecha .botones .registro{
    height: 30px;
    width: 68px;
    margin-left: 15px;
    font-size: 14px;
    color: #0095f6;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}

.container{
    margin: 187px;
    padding: 30px 20px 0px;
    height: 100%;
    width: 935px;
}