body {
    margin: 0;
    padding: 0;
    background-color: #48A9A6;
    animation-name: sky_colour;
    animation-duration:10s;
    animation-timing-function: linear;
}

.cloud {
    background-color: #EBFFF9;
    border-radius: 50px;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 100px;
    animation-name: cloud_opacity;
    animation-duration:10s;
    animation-timing-function: linear;
}

.cloud::after {
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #EBFFF9;
    top: -50px;
    left: 70px;
}

.cloud::before {
    position: absolute;
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #EBFFF9;
    top: -40px;
    left: 30px;
}

.cloud:nth-child(1) {
    left: 40vw;
}

.cloud:nth-child(2) {
    left: 15vw;
    top: 70vh;
}

.cloud:nth-child(3) {
    left: 85vw;
    top: 70vh;
}

.sun {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    position:absolute;
    border-radius: 50%;
    background-color: #FFD500;
    box-shadow: -1px 4px 48px 36px rgba(255,213,0,0.89);
    -webkit-box-shadow: -1px 4px 48px 36px rgba(255,213,0,0.89);
    -moz-box-shadow: -1px 4px 48px 36px rgba(255,213,0,0.89);
    left: calc(50vw - 50px);
    top: calc(50vh - 50px);
}

.moon {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0,1);
    left: calc(100vw - 100px);
    top: calc(50vh - 50px);
    animation-name: animation_moon, change_opacity;
    animation-duration:10s;
    animation-timing-function: linear;
}

.moon, .cloud, body {
    animation-iteration-count: infinite;
}

@keyframes animation_moon {
0% {
    transform: translate(0,0)
}

25%, 75% {
    transform: translate(calc(-50vw + 50px),0);
}

100% {
    transform: translate(-93vw, 0);
}

}

@keyframes change_opacity {
    0%, 10%, 90%, 100% {
        opacity: 0;
    }

    25%, 75% {
        opacity: 1;
    }
}

@keyframes cloud_opacity {
    0%, 10%, 90%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }

}

@keyframes sky_colour {
    0%, 10%, 90%, 100% {
        background-color: #48A9A6;
    }

    25%, 75% {
        background-color: black;
    }

}