header{
    display: flex;
    align-items: center;
    height: 54px;
    
    
}
.header-izquierda{
display: flex;
margin-left: 187px;
padding: 0;

}
.header-izquierda .logo{
    display: flex;
    margin: 0;
    padding: 0;
    height: 36px;
    width: 360px;

}
.header-derecha ul{
    list-style: none;
    display: flex;
    margin-right: 180px;
}